/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("/card-back.png");
  background-size: 1100px;
  background-position: center;
  background-attachment: fixed;
}
